<!DOCTYPE html>
<html>
    <head>
        <title><%= typeof title == "undefined" ? "Home" : title %></title>
     

        <link rel="stylesheet" href="<%= request.mainURL %>/public/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<%= request.mainURL %>/public/font-awesome-4.7.0/css/font-awesome.min.css" />

    </head>
   

    <!-- <body background="../2.jpg"> -->
      
        <input type="hidden" id="base-url" value="<%= request.mainURL %>" />
       
   

        <!-- top nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="<%= request.mainURL %>">File Sharer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="<%= request.mainURL %>" > <b>Home</b> <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="<%= request.mainURL %>/MyUploads"><b>My Uploads</b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="<%= request.mainURL %>/MySharedLinks"><b>My shared links</b></a>
                    </li>

                    <% if (request.isLogin) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= request.session.user.name %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="<%= request.mainURL %>/Logout"><b>Log out</b></a>
                            </div>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= request.mainURL %>/Login"><b>Login</b></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="<%= request.mainURL %>/Register"><b>Register</b></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </nav>
   
  